extends ../layout.jade
block toasts
  if emailIsSend
    .toast.toast-success
      //- button.toast-close-button ×
      .toast-title E-Mail wurde versendet.
      .toast-message
  else if emailIsSend == false
    .toast.toast-error
      //- button.toast-close-button ×
      .toast-title E-Mail wurde nicht versendet.
      .toast-message
block body
  include ../toolbar.jade
  //- Container
  .container(style="min-height: 200px;")
    .row
      .col-md-2.hidden-sm.hidden-xs
        .bs-sidebar(hidden-print, role="complementary")
          ul.nav.bs-sidenav
            li
              a(href="#imprint") Impressum
            li
              a(href="#contact") Kontakt
            li
              a(href="#approach") Anfahrt
      .col-md-10
        h1.anchor-static-navbar#imprint
        .page-header
          h1 Impressum
        div!= imprint
        h1.anchor-static-navbar#contact
        .page-header.hidden-print
          h1 Kontakt
        form.hidden-print(role='form', name="form", validate, action="#contact", method="post")
          //-
          //- Name
          //-
          .form-group.has-feedback(class= form.name.$invalid == true ? 'has-error' : form.name.$valid == true ? 'has-success' : '')
            label.control-label(for='name') Name
            .input-group
              .input-group-addon
                i.fa.fa-user
              input#name.form-control(type='text', name="name", required, placeholder='Ihren Namen eingeben', value=form.name.value)
            if form.name.$valid && form.name.$error.required == false
              span.form-control-feedback(title="Alles Okay!"): i.fa.fa-check
            if form.name.$error.required == true
              span.form-control-feedback(title="Bitte geben Sie hier Ihren Namen ein."): i.fa.fa-exclamation-triangle
          //-
          //- E-Mail
          //-
          .form-group.has-feedback(class= form.from.$invalid == true ? 'has-error' : form.from.$valid == true ? 'has-success' : '')
            label.control-label(for='from') E-Mail
            .input-group
              .input-group-addon
                i.fa.fa-envelope
              input#from.form-control(type='email', name="from", required, placeholder='Ihre E-Mail-Adresse eingeben', value=form.from.value)
            if form.from.$valid && form.from.$error.required == false && form.from.$error.email == false
              span.form-control-feedback(title="Alles Okay!"): i.fa.fa-check
            if form.from.$error.required == true
              span.form-control-feedback(title="Bitte geben Sie hier Ihre E-Mail-Adresse ein."): i.fa.fa-exclamation-triangle
            if form.from.$error.email == true
              span.form-control-feedback(title="Dies ist keine korrekte E-Mail-Adresse."): i.fa.fa-exclamation-triangle
          //-
          //- Betreff
          //-
          .form-group.has-feedback(class= form.subject.$invalid == true ? 'has-error' : form.subject.$valid == true ? 'has-success' : '')
            label.control-label(for='subject') Betreff
            .input-group
              .input-group-addon
                i.fa.fa-info
              input#subject.form-control(type='text', name="subject", required, placeholder='Betreff eingeben', value=form.subject.value)
            if form.subject.$valid && form.subject.$error.required == false
              span.form-control-feedback(title="Alles Okay!"): i.fa.fa-check
            if form.subject.$error.required == true
              span.form-control-feedback(title="Bitte geben Sie hier Ihren Betreff ein."): i.fa.fa-exclamation-triangle
          //-
          //- Nachricht
          //-
          .form-group.has-feedback(class= form.content.$invalid == true ? 'has-error' : form.content.$valid == true ? 'has-success' : '')
            label.control-label(for='content') Nachricht
            textarea.form-control#content(type='text', name="content", required, placeholder="Inhalt eingeben")!= form.content.value
            if form.content.$valid && form.content.$error.required == false
              span.form-control-feedback(title="Alles Okay!"): i.fa.fa-check
            if form.content.$error.required == true
              span.form-control-feedback(title="Bitte geben Sie hier Ihre Nachricht ein."): i.fa.fa-exclamation-triangle
          button.btn.btn-primary(type="submit", ng-disabled="form.$invalid") Absenden
        h1.anchor-static-navbar#approach
        .page-header
          h1 Anfahrt
        .row
          .col-xs-12
            a(href="https://www.google.de/maps/dir//Kapit%C3%A4n-Alexander-Stra%C3%9Fe+40,+27472+Cuxhaven/@53.8668035,8.7066221,17z/data=!4m13!1m4!3m3!1s0x47b4040e075eaf1f:0xfaba82b12994a2e!2sKapit%C3%A4n-Alexander-Stra%C3%9Fe+40,+27472+Cuxhaven!3b1!4m7!1m0!1m5!1m1!1s0x47b4040e075eaf1f:0xfaba82b12994a2e!2m2!1d8.7066221!2d53.8668035?hl=de")
              img.img-responsive(src="/assets/images/anfahrt.png")
  include ../footer.jade
